.signInButton {
  height: 3rem;
  border-radius: 3rem;
  border: 0;
  background: var(--gray-800);
  color: var(--white);
  font-weight: bold;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  &:hover {
    filter: brightness(0.8);
  }

  .closeIcon {
    margin-left: 1rem;
    color: var(--gray-200);
  }
}
