.signInButtonContainer {
  height: 3rem;
  border-radius: 3rem;
  padding: 0 1.5rem;
  border: 0;
  background-color: var(--gray-800);
  color: var(--white);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  svg {
    width: 20px;
    height: 20px;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

}

.closeIcon {
  color: var(--gray-200);
}